* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 32px;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 16px 10px 16px;
    background-color: #353535;
    color: #fff;
}

a:hover {
    background-color: #696969;
}

a.active {
    background-color: #a9a9a9;
}

#form {
    padding: 24px 0;
}
